
  /*Menu design */
  .navbar{
	  background-color: rgba(255,255,255,0.8);
	  border-bottom: 1px solid rgba(0,0,0,0.2);
	  border-top:4px solid #ca080f;
	  
  }
   .navbar .navbar-brand{
	   border-right:none;
   }
  
  .navbar a{
	  color:rgba(0,0,0,0.8) !important;
	  border-right: 1px solid rgba(0,0,0,0.1);
  }
  
  .navbar a:hover, .navbar .active a{
	  color: #ca080f  !important;
	  background-color: transparent !important;
  }

  /*RULES*/
  @media (min-width:768px) {
      .navbar a:hover:before, .navbar .active a:before{

          content: "";
          position: absolute;
          top: -9%;
          z-index: -1 !important;
          left: 45%;
          background-color:#ca080f;

          height: 10px;
          width: 10px;
          border-right: 1px solid rgba(0,0,0,0.2);
          border-bottom: 1px solid rgba(0,0,0,0.2);
          transform: rotate(45deg);
      }


      .navbar a .icon {
          display: block;
          text-align: center;
          font-size: 19px;
      }

      .navbar a span {
          font-size: 12px;
          font-weight: 500;
      }

  }

  @media (max-width:767.99px) {

      .navbar a .icon {
        margin-right:7px;
          font-size:17px;
          width:20px;
      }

      .navbar a span {
          font-size: 17px;
          //font-weight: 500;

      }

  }